<configuration>
	<system.webServer>
		<defaultDocument> 
			<files>
				<add value="welcome.html"/>
			</files>
		</defaultDocument>
		<modules>
			<add name="PageToHtml" type="BasicWebApp.PageModule"/>
		</modules>
		<handlers>
			<add name="Greeter" verb="GET" path="welcome.gws" type="BasicWebApp.GreetingHandler"/>
		</handlers>
	</system.webServer>
</configuration>